@font-face {
  font-family: "ShinGo";
  src: url('/assets/fonts/G-OTF Shin Go Pro/G-OTF Shin Go Pro L.otf');
  font-weight: lighter;
  font-style: normal;
}
  
@font-face {
  font-family: "ShinGo";
  src: url('/assets/fonts/G-OTF Shin Go Pro/G-OTF Shin Go Pro R.otf');
  font-weight: normal;
  font-style: normal;
}
  
@font-face {
  font-family: "ShinGo";
  src: url('/assets/fonts/G-OTF Shin Go Pro/G-OTF Shin Go Pro B.otf');
  font-weight: bold;
  font-style: normal;
}

:root {
  --shin-go: "ShinGo"
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow: hidden;
  font-family: var(--shin-go), sans-serif;
}

body {
  min-height: 100vh;
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}
