.bgContainer {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  z-index: -1;
  filter: blur(8px);
  will-change: filter;
  transform: translateZ(-3px);
}

.bgImage {
  background-image: url('/assets/images/cyberpunk-city.jpg');
  background-position: calc(var(--parallax-y, 1) / -3) calc(var(--parallax-y, 0) / 2);
  background-size: 215%;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
