.container {
    z-index: 1;
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    padding: 64px 128px;
}

.content {
    flex: 1 1 auto;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.header, .footer {
    flex: 0 0 auto;
    display: flex;
    justify-content: space-between;
}

.button {
    padding: 8px 32px;
    text-transform: uppercase;
    background-color: #fff;
    border-radius: 16px;
    color: #000;
}

.scrollbar {
  width: 16px;
  height: 50vh;
  position: relative;
  float: right;
}

.scrollbarLine {
  opacity: 0.7;
  width: 2px;
  height: 100%;
  background-color: #888;
  position: absolute;
  left: 7px;
  top: 0;
}

.scrollbarCircle {
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background-color: #ddd;
  position: absolute;
  left: 0;
  top: 0;
  transform: translateY(-50%);
}
