.container {
    z-index: 1;
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    padding: 64px 128px;
}

.content {
    flex: 1 1 auto;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.headerLeft {
    display: flex;
    align-items: center;
}

.icon {
    padding-right: 32px;
}

.header, .footer {
    flex: 0 0 auto;
    display: flex;
    justify-content: space-between;
}

.footer {
    font-size: 0.75rem;
    font-weight: 300;
}

.button {
    padding: 8px 32px;
    text-transform: uppercase;
    background-color: #fff;
    border-radius: 16px;
    color: #000;
    font-weight: 700;
}
