.scrollbar {
  width: 16px;
  height: 50%;
  position: relative;
  float: right;
}

.scrollbarLine {
  opacity: 0.7;
  width: 2px;
  height: 100%;
  background-color: #888;
  position: absolute;
  left: 7px;
  top: 0;
}

.scrollbarCircle {
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background-color: #ddd;
  position: absolute;
  left: 0;
  top: var(--progress, 0);
  transform: translateY(-50%);
}
