.container {
    font-size: 3.5rem;
    padding: 0px 4em;
}

.container * {
    position: relative;
}

.innerContainer {
    padding: 0 1em;
}

.container h1 {
    font-size: 5em;
    font-weight: bold;
    text-align: center;
}

.container p {
    font-size: 0.3em;
    font-weight: 400;
    padding-bottom: 0.35em;
    padding-left: 0.15em;
}

.foreground {
    z-index: 1;
}

.background {
    z-index: 0;
}
